@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privatumo politika";
}
<h1>@ViewData["Title"]</h1>



<p> Šis puslapis yra naudojamas tinklalapių lankytojams informuoti apie mūsų politiką, susijusią su asmeninės informacijos rinkimu, naudojimu ir atskleidimu, jei kas nors nusprendė naudoti mūsų paslaugą, „LocalHost“ svetainę. </p>

<p> Jei nuspręsite naudoti mūsų paslaugą, tada jūs sutinkate su šia politika rinkti ir naudoti informaciją. Asmeninė informacija, kurią renkame, naudojama teikiant ir tobulinant Paslaugą. Mes nenaudosime ir nebendrinsime jūsų informacijos su niekuo, išskyrus atvejus, aprašytus šioje privatumo politikoje. </p>

<p> Šioje privatumo politikoje vartojamos sąvokos turi tas pačias reikšmes, kaip ir mūsų Sąlygose ir sąlygose, prieinamose svetainėje LocalHost.com, jei šioje privatumo politikoje nenurodyta kitaip. Mūsų privatumo politika buvo sukurta naudojantis <a href="https://www.privacypolicytemplate.net"> privatumo politikos šablonu </a> ir <a href="https://www.privacy-policy-template.com/">Internetiniu privatumo politikos šablonu </a>. </p>

<h2> Informacijos rinkimas ir naudojimas </h2>

<p> Norėdami gauti daugiau patirties naudojantis mūsų Paslauga, galime pareikalauti, kad pateiktumėte tam tikrą asmenį identifikuojančią informaciją, įskaitant, bet neapsiribojant, jūsų vardą, telefono numerį ir pašto adresą. Mūsų surinkta informacija bus naudojama norint su jumis susisiekti arba nustatyti jūsų tapatybę. </p>

<h2> Prisijungimo duomenys </h2>

<p>
    Mes norime jums pranešti, kad kai lankotės mūsų tarnyboje, mes renkame informaciją, kurią jūsų naršyklė siunčia mums, vadinamą žurnalo duomenimis. Į šiuos žurnalų duomenis gali būti įtraukta tokia informacija, kaip jūsų kompiuterio interneto protokolo („IP“) adresas, naršyklės versija, lankomi mūsų paslaugos puslapiai, apsilankymo laikas ir data, tuose puslapiuose praleistas laikas ir kita statistika.
</p>

<h2> Slapukai </h2>

<p> Slapukai yra failai su nedideliu duomenų kiekiu, kurie paprastai naudojami kaip anoniminis unikalus identifikatorius. Jie siunčiami į jūsų naršyklę iš jūsų lankomos svetainės ir yra saugomi jūsų kompiuterio kietajame diske. </p>

<p> Mūsų svetainė naudoja šiuos „slapukus“ informacijos rinkimui ir mūsų paslaugų tobulinimui. Jūs turite galimybę priimti arba atsisakyti šių slapukų ir žinoti, kada slapukas siunčiamas į jūsų kompiuterį. Jei nuspręsite atsisakyti mūsų slapukų, galbūt negalėsite naudoti kai kurių mūsų Paslaugos dalių. </p>

<p> Norėdami gauti daugiau bendros informacijos apie slapukus, skaitykite <a href="https://www.cookieconsent.com/what-are-cookies/"> „Kas yra slapukai“ </a>. </p>

<h2> Paslaugų teikėjai </h2>

<p> Mes galime įdarbinti trečiųjų šalių įmones ir asmenis dėl šių priežasčių: </p>

<ul>
    <li> palengvinti mūsų aptarnavimą; </li>
    <li> Teikti Paslaugą mūsų vardu; </li>
    <li> atlikti su paslauga susijusias paslaugas; arba </li>
    <li> Padėti mums analizuoti, kaip naudojama mūsų paslauga. </li>
</ul>

<p> Mes norime informuoti mūsų paslaugų vartotojus, kad šios trečiosios šalys turi prieigą prie jūsų asmeninės informacijos. Priežastis - vykdyti užduotis, paskirtas jiems mūsų vardu. Tačiau jie privalo neatskleisti ir nenaudoti informacijos jokiems kitiems tikslams. </p>

<h2> Saugumas </h2>

<p> Mes vertiname jūsų pasitikėjimą teikiant mums jūsų asmeninę informaciją, todėl siekiame apsaugoti komerciškai priimtinas priemones. Tačiau atminkite, kad nė vienas perdavimo internetu būdas ar elektroninio saugojimo būdas nėra 100% saugus ir patikimas, todėl negalime garantuoti visiško jo saugumo. </p>

<h2> Nuorodos į kitas svetaines </h2>

<p> Mūsų tarnyboje gali būti nuorodų į kitas svetaines. Jei spustelėsite trečiosios šalies nuorodą, būsite nukreipti į tą svetainę. Atminkite, kad šios išorinės svetainės nėra mūsų valdomos. Todėl labai rekomenduojame peržiūrėti šių svetainių privatumo politiką. Mes nekontroliuojame ir neprisiimame jokios atsakomybės už trečiųjų šalių svetainių ar paslaugų turinį, privatumo politiką ar praktiką. </p>

<p> Vaikų privatumas </p>

<p> Mūsų paslaugos nesikreipia į asmenis, jaunesnius nei 13 metų. Mes sąmoningai nerenkame asmeninės tapatybės informacijos iš vaikų iki 13 metų. Jei paaiškės, kad vaikas iki 13 metų mums pateikė asmeninę informaciją, mes nedelsdami ją ištriname iš mūsų serveriai. Jei esate vienas iš tėvų ar globėjų ir žinote, kad jūsų vaikas pateikė mums asmeninės informacijos, susisiekite su mumis, kad galėtume atlikti reikiamus veiksmus. </p>

<h2> Šios privatumo politikos pakeitimai </h2>

<p> Mes retkarčiais galime atnaujinti savo privatumo politiką. Taigi, patariame periodiškai peržiūrėti šį puslapį, kad būtų kokių nors pakeitimų. Apie visus pasikeitimus pranešime paskelbdami naują privatumo politiką šiame puslapyje. Šie pakeitimai įsigalioja iškart, paskelbus šiame puslapyje. </p>

