@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Pamiršto slaptažodžio patvirtinimas";
}

<h1>@ViewData["Title"]</h1>
<p>
    Išsiųstas el. laiškas.
    Norėdami iš naujo nustatyti slaptažodį, patikrinkite savo el. pašto adresą.
</p>

