@page
@model LockoutModel
@{
    ViewData["Title"] = "Užrakinta";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ši vartotojo paskyra buvo uždaryta, bandykite dar kartą vėliau.</p>
</header>
