@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Atstatomo slaptažodžio patvirtinimas";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jūsų slaptažodis buvo iš naujo nustatytas. <a asp-page="./Login"> spustelėkite čia, kad prisijungtumėte </a>.
</p>
